#footer {
	background-color: $color5;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

#footer p, #footer i {
	display: inline;
	font-size: 0.8em;
	padding: 1em;
}

#footer .footer-text-sm {
	font-size: 0.7em;
	color: #ddd;
	text-transform: uppercase;
}

#footer .footer-text-xs {
	font-size: 0.6em;
	color: #a0a0a0;
}

@media screen and (max-width: 1200px) {
	#footer {
		text-align: center;
	}
}

.footer-btn:hover {
	border: none;
	text-decoration: none;
}
