.hero {
	background-image: url(/assets/images/gym1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 70vh;
	background-attachment: fixed;
}

.new-hero-content {
	background-color: white;
	width: 50%;
	margin: auto;
	margin-top: -155px;
	padding: 2em;
	height: 275px;
}

.new-hero-content h1 {
	font-weight: 900;
	font-size: 3.5em;
	color: $color1;
}

@media screen and (max-width: 576px) {
	.new-hero-content {
		width: 90%;
	}
	.new-hero-content h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 768px) {
	.new-hero-content {
		width: 60%;
	}
}

@media screen and (max-width: 992px) {
	.new-hero-content {
		width: 75%;
	}
}

.hero-subtitle {
	font-family: $font4;
}