<div class="container hours-container">
	<h1 class="text-center bold-text page-title">PMI Total Fitness Hours</h1>
	<div class="row text-center">
		<div class="col hours-box">
			<h2 class="hours-title bold-text">Club Access Card Members</h2>
			<p>24 Hours Access</p>
			<small>*Requires Club Access Card</small>
			<p class="mt-3">{{#link-to 'rates' class="general-button"}}<i class="fas fa-dollar-sign"></i> Membership Rates{{/link-to}}</p>
		</div>
		<div class="col hours-box">
			<h2 class="hours-title bold-text">Standard Members</h2>
			<p>Monday - Friday: 8:00 AM - 5:00 PM</p>
			<p>Saturday: 9:00 AM - 2:00 PM</p>
			<p class="mt-3">{{#link-to 'membership-options' class="general-button"}}<i class="fas fa-list-ul"></i> Membership Options{{/link-to}}</p>
		</div>
	</div>
</div>

{{outlet}}