<!-- Hero Image -->
<div class="container-fluid hero">
</div>
	<div class="new-hero-content text-center">
		<h1 class="hero-title">PMI Total Fitness</h1>
		<p class="hero-subtitle">Gym/Fitness Center Located In Waterville, MN</p>
		{{#link-to "membership-options" class="general-button"}}Join Now <i class="fas fa-user-plus"></i>{{/link-to}}
	</div>



	<!-- <div class="hero-content text-center">
		<h2 class="hero-title">PMI Total Fitness</h2>
		<p class="hero-subtitle">Waterville, MN</p>
		{{#link-to "register" class="hero-button"}}Become A Member <i class="fas fa-user-plus"></i>{{/link-to}}
	</div> -->


<!-- Explore PMI -->
<div class="container-fluid">
	<div class="explore-pmi">
		<h1 class="page-title" style="font-weight: 900;">Explore PMI</h1>
		<div class="row">
			<div class="col-md-3 d-flex justify-content-around">
				<div class="card explore-card flex-fill">
					<img src="/assets/images/free-weights.jpg" class="card-img-top" alt="free-weights">
					<div class="card-body">
						<h4 class="card-title">Free Weights</h4>
						<p class="card-text">Blue mountain, shop java fair trade and organic iced. Affogato breve pumpkin spice foam eu froth decaffeinated bar white fair trade.</p><br /><br />
						{{#link-to "register" class="card-link"}}Learn More{{/link-to}}
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex justify-content-around">
				<div class="card explore-card flex-fill">
					<img src="/assets/images/weight-machines.jpg" class="card-img-top" alt="weight-machines">
					<div class="card-body">
						<h4 class="card-title">Weight Machines</h4>
						<p class="card-text">Blue mountain, shop java fair trade and organic iced. Affogato breve pumpkin spice foam eu froth decaffeinated bar white fair trade.</p><br /><br />
						{{#link-to "register" class="card-link"}}Learn More{{/link-to}}
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex justify-content-around">
				<div class="card explore-card flex-fill">
					<img src="/assets/images/treadmill.jpg" class="card-img-top" alt="massage">
					<div class="card-body">
						<h4 class="card-title">Cardio</h4>
						<p class="card-text">Blue mountain, shop java fair trade and organic iced. Affogato breve pumpkin spice foam eu froth decaffeinated bar white fair trade.</p><br /><br />
						{{#link-to "register" class="card-link"}}Learn More{{/link-to}}
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex justify-content-around">
				<div class="card explore-card flex-fill">
					<img src="/assets/images/group-classes.jpg" class="card-img-top" alt="group-classes">
					<div class="card-body">
						<h4 class="card-title">Classes</h4>
						<p class="card-text">Blue mountain, shop java fair trade and organic iced. Affogato breve pumpkin spice foam eu froth decaffeinated bar white fair trade.</p><br /><br />
						{{#link-to "register" class="card-link"}}Learn More{{/link-to}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- why-pmis -->
<div class="container why-pmi text-center">
	<h1 class="page-title" style="font-weight: 900;">Why PMI?</h1>
	<div class="row">
		<div class="col why-pmi-col-br">
			<i class="fas fa-ribbon fa-3x"></i>
			<h2>Support</h2>
			<p>Every member gets a free, personalized Get Started Plan when they join. Our friendly, professional staff is trained to help you along your fitness journey, no matter how much support you need.</p>
		</div>
		<div class="col why-pmi-col-bl">
			<<i class="far fa-clock fa-3x"></i>
			<h2>Convenience</h2>
			<p>Together - we can make healthy happen. That’s why we offer personal training and classes when you’re here, and the right tools to keep you on track when you’re not.</p>
		</div>
	</div>
	<div class="row">
		<div class="col why-pmi-col-tr">
			<i class="fas fa-running fa-3x"></i>
			<h2>Tools & Training</h2>
			<p>With 24/7 access to more than 4,000 locations worldwide, you're joining the most convenient gym on the planet.</p>
		</div>
		<div class="col why-pmi-col-tl">
			<i class="far fa-heart fa-3x"></i>
			<h2>Community</h2>
			<p>You’re not just joining a gym. You’re joining a supportive community of like-minded people who are here to give you the encouragement you need.</p>
		</div>
	</div>
</div>

<!-- Additional Services -->
<div class="container additional">
	<h1 class="page-title" style="font-weight: 900;">Additional Services</h1>
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<img src="assets/images/massage.jpg" class="card-img-top" alt="massage">
				<div class="card-body">
					<h5 class="card-title">Massage</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br /><br />
					{{#link-to "massage" class="card-link"}}Learn More{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img src="assets/images/personal-training.jpeg" class="card-img-top" alt="personal-training">
				<div class="card-body">
					<h5 class="card-title">Personal Training</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br /><br />
					{{#link-to "personal-training" class="card-link"}}Learn More{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img src="assets/images/tanning.jpeg" class="card-img-top" alt="tanning">
				<div class="card-body">
					<h5 class="card-title">Tanning</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br /><br />
					{{#link-to "tanning" class="card-link"}}Learn More{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Find Us 
<div class="container contact text-center">
	<div class="row">
		<div class="col-sm-6">
			<i class="fas fa-map-marker-alt fa-3x"></i>
			<p>124 S. 2nd St<br>Waterville, MN 56096</p>
			<i class="fas fa-phone fa-3x"></i>
			<p>507.362.8469</p>
			<i class="fas fa-envelope fa-3x"></i>
			<p>info@pmitotalfitness.com</p>
		</div>
		<div class="col-sm-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2859.44054483056!2d-93.5699821842635!3d44.21858762370358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f68f90e3a57bef%3A0xc912abf51e50c0df!2sPMI+Total+Fitness!5e0!3m2!1sen!2sus!4v1550543975640" width="100%" height="100%" frameborder="0" style="border:0; box-shadow: 2px 2px 10px black; border: 2px solid black; padding: 1em;" allowfullscreen></iframe>
		</div>
	</div>
</div> -->

{{outlet}}

