<div class="container rates">
	<h1 class="page-title text-center">Membership Rates</h1>
	<p>Members receive a <span style="text-transform: uppercase; color: red; font-weight: 700">welcome 50%</span> off personal training sessions, tanning & massage! Unlimited use of all equipment, weight machines, free weights and locker rooms. Enjoy 1 free guest pass per month, regular member discounts and complimentary WiFi.</p>
	<table style="width: 100%;" class="text-center" id="rates-table">
		<tr>
			<th>Membership Options</th>
			<th>Regular Hours</th>
			<th>24-Hour Access</th>
		</tr>
		<tr>
			<td>Individual Contract</td>
			<td>$25 / MO</td>
			<td>$30 / MO</td>
		</tr>
		<tr>
			<td>Individual (No Contract)</td>
			<td>$35 / MO</td>
			<td>$40 / MO</td>
		</tr>
		<tr>
			<td class="table-bottom-border">Senior (65+)/Student/Military</td>
			<td class="table-bottom-border">$25 / MO</td>
			<td class="table-bottom-border">$25 (1 time fee)</td>
		</tr>
		<tr>
			<td>Add-On 1st Person</td>
			<td>$15 / MO</td>
			<td>$15 / MO</td>
		</tr>
		<tr>
			<td>Each Additional Person</td>
			<td>$5 / MO</td>
			<td>$5 / MO</td>
		</tr>
		<tr>
			<td>Day Passes</td>
			<td>Single: $6</td>
			<td>10-Day: $45</td>
		</tr>
		<tr>
			<td>Access Key Replacement or Extra Key</td>
			<td colspan="2">$10</td>
		</tr>
	</table>
	<small>*All Membership Prices Are Subject To 6.875% Sales Tax</small><br />
	<small>*Contract members pay their first and last month up front. If contract is cancelled early, the charge is simply the difference in the rate plans for each month.</small>
</div>

{{outlet}}