<div class="container">
	<h1 class="page-title">Shop</h1>
	<!-- <a href="https://my.rhinofit.ca/store/viewproduct.php?product=13971&hash=6b3fdef6" class="">24-Hour Access Card</a> -->

	 <iframe src='https://my.rhinofit.ca/store/products/6b3fdef6' style='width: 100%; height: 2500px; border: none;'></iframe> 
</div>
{{outlet}}