<div class="container">
	<h1 class="page-title">Single Day Passes</h1>
	<p class="text-center">Single day passses include unlimited use of all equipment, weight machines, free weights and locker rooms.</p>
	<div class="row">
		<div class="col">
			<div class="card text-center">
				<div class="card-header">
					<h2>Single Day Pass</h2>
				</div>
				<div class="card-body">
					<h2>$6</h2>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">
					<h2>10 Day Pass</h2>
				</div>
				<div class="card-body">
					<h2>$45</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{{outlet}}