<div class="container tanning">
	<h1 class="page-title">Tanning</h1>
	<table style="width:100%;" class="text-center" id="tanning-table">
		<tr>
			<th colspan="3" class="tanning-pre-table">Recommended Exposure Times In Minutes</th>
			<th colspan="3" class="tanning-pre-table">Maximum Exposure Time Is 20 Minutes</th>
		</tr>
		<tr>
			<th class="tanning-th">Skin Type</th>
			<th class="tanning-th">Level 1 / Week 1<br />1st - 3rd Sessions</th>
			<th class="tanning-th">Level 2</th>
			<th class="tanning-th">Level 3</th>
			<th class="tanning-th">Level 4</th>
			<th class="tanning-th">Subsequent Maximum</th>
		</tr>
		<tr>
			<td>I. Sensitive Skin <span class="skin-type-description">(Burns easily and severly and does not tan)</span></td>
			<td colspan="5">Not Recommended For Tanning</td>
		</tr>
		<tr>
			<td>II. Light <span class="skin-type-description">(Burns easily and severly and tans minimally)</span></td>
			<td>4</td>
			<td>8</td>
			<td>12</td>
			<td>16</td>
			<td>20</td>
		</tr>
		<tr>
			<td>III. Normal <span class="skin-type-description">(Burns moderately and tans average)</span></td>
			<td>6</td>
			<td>10</td>
			<td>15</td>
			<td>20</td>
			<td>20</td>
		</tr>
		<tr>
			<td>IV. Dark <span class="skin-type-description">(Burns minimally, tans easily and above average)</span></td>
			<td>8</td>
			<td>12</td>
			<td>16</td>
			<td>20</td>
			<td>20</td>
		</tr>
	</table>
	<div class="card mt-5 sunstarspeed-card">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="/assets/images/sunstarspeed.jpg" class="card-img" alt="tanning-bed">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title">Sunstar Speed 175</h2>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text">Top Lotions, flexible scheduling, single sessions, packages of 10 or unlimited for the month or year.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{outlet}}